@import "../../../styles/variables";

.container-list {
  background-color: #f1eeee;
  border-radius: $global-border-radius;
  height: auto;
  margin-top: 5rem;
  margin-left: 21rem;
  min-height: 25rem;
  padding-bottom: 1rem;
  width: 28.125rem;
}

.wrapper-list {
  padding-top: 1rem;
  background-color: #f1eeee;
  &__title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color: map-get($colors, "secondary-color");
  }
}

.hi {
  margin-top: 40px; 
  text-align: center;
  color: #1A1D67
}