<div class="container">
  <h1 class="h1">Skills & Games</h1>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <h4 style="text-align:center;">Select Category</h4>
  <p></p> 
  <header class="jumbotron" style= "height: 1000px; ">

    <div class="row align-items-top">
      <div class="col">
        <ul class="list-group" style= "width: 200px;  ">
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Business & Finance</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Education & Reference</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="/src/app/components/games-list" routerLink="games-list">Games & Trivia</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Food & Drink</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Connected Car</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Health & Fitness</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Kids</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Lifestyle</button></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group" style= " width: 200px;">
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Local</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Movies & TV</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Music & Audio</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">News</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Novelty & Humor</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Shopping</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Productivity</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Smart Home</button></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group" style= " width: 200px;">
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Social</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Travel & Transportation</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Utilities</button></li>
          <li class="list-group-item"><button class="btn btn-link" href="" routerLink="">Weather</button></li>
        </ul>
      </div>
    </div>


    
    
    

  </header>


</div>
