@import "../../../styles/variables";

.card {
  padding-left: 5rem;
  padding-top: 1rem;
}

.card__content {
  background-color: map-get($colors, "main-color");
  border-left: 3px solid map-get($colors, "third-color");
  border-radius: $global-border-radius;
  height: auto;
  min-height: 3rem;
  width: 19rem;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem;
  word-wrap: break-word;

  .card__description {
    font-size: 1rem;
    min-width: 5rem;

    &--completed {
      color: map-get($colors, "third-color");
      text-decoration: line-through;
    }
  }
}

.checkbox {
  align-self: center;
  cursor: pointer;
}

.input-card {
  height: 1.6rem;
  width: 11rem;
}

.card__buttons {
  align-items: center;
  display: flex;
  padding-left: 0.8rem;
  padding-top: 0.2rem;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 0.6rem;
}

.icon {
  font-size: 1rem;

  &--edit {
    color: map-get($colors, "third-color");
  }

  &--delete {
    color: map-get($colors, "secondary-color");
  }
}
