/* You can add global styles to this file, and also import other style files */
.h1{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
.table  {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: black;
}

.img-thumb {
  width: 60px;
  height: 60px;
}