
<div class="row animated fadeIn">
  <div class="col" style="margin-top:50px">
    <p><a class="btn btn-outline-success" href="/src/app/components/games" routerLink="/games" >Back to Games</a></p>
  </div>
</div>
<h1 class="h1">Skills & Games</h1>

<div class="row mt-5">
  <div class="col">
    <table class="table text-black">
      <thead>
        <tr>
          <th></th>
          <th style=font-size:28px;>Games & Trivia</th>

        </tr>
      </thead>
      <tbody>
        <tr >
          <td><img  class="img-thumb img-circle" src="../assets/images/pokemon.jpg" ></td>
          <td style=font-size:24px;>Unofficial Pokemon of the day
            <p></p>                                   
            <p style=font-size:16px;> My Assistant pokemon fan for the pokmon of the day </p></td>
        </tr>
        <tr >
          <td><img class="img-thumb img-circle" src="../assets/images/truth.jpg" ></td>
          <td style=font-size:24px;>Truth or Dare
            <p></p>                                   
            <p style=font-size:16px;>Play Truth or Dare</p></td>
        </tr>
        <tr >
          <td><img class="img-thumb img-circle" src="../assets/images/quiz.jpg"></td>
          <td style=font-size:24px;>Song Quiz
            <p></p>                                   
            <p style=font-size:16px;>Play Song Quiz with My Assistant</p></td>
        </tr>
        <tr>
          <td><img class="img-thumb img-circle" src="../assets/images/trivia.jpg"></td>
          <td style=font-size:24px;>Fortnite Trivia
            <p></p>                                   
            <p style=font-size:16px;>Check your knowledge on Fortnite with Fortnite Trivia</p></td>
        </tr>
        <tr>
          <td><img class="img-thumb img-circle" src="../assets/images/common.jpg"></td>
          <td style=font-size:24px;>Common Knowledge
            <p></p>                                   
            <p style=font-size:16px;>Challenge yourself with Common Knowledge question</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>