<div id="app">
  <nav class="navbar navbar-expand">
    <a style="color: aliceblue;" href="#" class="navbar-brand">My Assistant</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a style="color: aliceblue;" href="/home" class="navbar-brand" routerLink="home">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a style="color: aliceblue;" class="navbar-brand"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Functions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/src/app/components/todo-list" routerLink="todo">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" href="/register" class="navbar-brand" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" href="/login" class="navbar-brand" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    

      <router-outlet></router-outlet>



  </div>

  <nav class="navbar fixed-bottom">
    <a style="color: aliceblue;" href="#" class="navbar-brand">Language</a>
    <ul class="nav justify-content-end" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a style="color: aliceblue;" href="#" class="navbar-brand" routerLink="register">Help</a>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" href="#" class="navbar-brand" routerLink="register">Terms & Conditions</a>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" href="#" class="navbar-brand" routerLink="register">Customer Support</a>
      </li>
    </ul>
  </nav>
</div>
