
.h4 {
  color: #0e0e0ff3;
}

.alarm-table-wrapper {
  width: 98%;
  max-width: 450px;
  max-height: 300px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 10px;

  .alarm-table-moment-column {
    flex: 3;
  }

  .alarm-table-disable-row {
    .alarm-table-cell:not(.alarm-table-action-column) {
      opacity: .4;
    }
  }
}

table {
  width: 100%;
}

.alarm-status {
  cursor: pointer;

  &.alarm-status-on {
    color: #3f51b5;
  }
}