@import "../src/styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: map-get($colors, "main-color");
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.5;
}

li {
  list-style: none;
}

input::placeholder {
  color: map-get($colors, "text-color");
}

input::-moz-placeholder {
  color: map-get($colors, "text-color");
}

input:-ms-input-placeholder {
  color: map-get($colors, "text-color");
}

.input {
  border-radius: $global-border-radius;
  border: 1px solid map-get($colors, "border-color");
  color: map-get($colors, "text-color");
  font-size: 1rem;
  padding-left: 0.5rem;

  &:focus {
    outline-color: map-get($colors, "border-color");
  }
}
