<div class="container">
  <p></p>
  <p></p>
  <p></p>
  <h6>Welcome Ianthi!</h6>
  <h6 class="h6">Explore My Assistant website and find how you can make your life easier!</h6>
  <p></p>
  <h4 style="text-align:center;">Some of the tasks you can do in our website</h4>
  <p></p>
  <header class="jumbotron">
    
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><button class="btn btn-link" href="/src/app/components/todo-list" routerLink="todo" style="font-size: 28px;">To Do</button></h5>
            <p class="card-text">View your To Do list and add new lists,modify existing once and edit the ones you completed!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><button class="btn btn-link" href="/src/app/alarm-home" routerLink="home/alarm-home" style="font-size: 28px;">Alarm</button></h5>
            <p class="card-text">Set up new Alarms, view existing ones and use it as an alarm, reminder or timer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><button class="btn btn-link" href="/src/app/components/search" routerLink="home/home/home/search" style="font-size: 28px;">Music</button></h5>
            <p class="card-text">Listen to the lastest hits anytime you want and enjoy great music!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><button class="btn btn-link" href="/src/app/topheading" routerLink="home/topheading" style="font-size: 28px;">News</button></h5>
            <p class="card-text">Read latest news in IT industry and about voice assistants.</p>
          </div>
        </div>
      </div>
    </div>
  </header>


</div>
